@import url("https://use.typekit.net/gcx6nic.css");

h2 {
    font-family: 'dunbar-low', sans-serif;
    font-weight: 300;
    font-style: normal; 
}

.logo {
    text-align: center;
    font-family: 'fave-script-pro', sans-serif;
    font-size: 5em; 
    padding: 0; 
    margin: 0em;
    -webkit-text-stroke: #AB215C 0.5px;
    padding-top: 0.5em; 
} 