@import url("https://use.typekit.net/gcx6nic.css");
@import url('https://use.typekit.net/jri1ggg.css');

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'serenity', sans-serif;
    font-weight: 300;
    font-style: normal; 
}



.logo {
    text-align: center;
    color: rgb(107, 207, 194); 
    font-family: 'fave-script-pro', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 700%; 
    padding: 0; 
    margin: 0;
    padding-top: 0.25em; 
} 
