@import url("https://use.typekit.net/gcx6nic.css");
@import url('https://use.typekit.net/jri1ggg.css');


body {
    background-color: #00695f;
    color: white; 
}

h1, h2, h3, h4, h5 {
    text-align: center;
    font-family: 'serenity', sans-serif;
    font-weight: 300;
    font-style: normal; 
}


